
<h1>List of all Tweets</h1>

<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.id %>
    <%= tweet.content %>
    <%= tweet.created_at %>
    <%= tweet.content %>
    <%= tweet.author_name %>

  </div>

<% end %>